---
- name: System Health Check
  hosts: servers
  gather_facts: yes

  vars:
    report_path: "/tmp/system_report.json"
    html_report_path: "/var/www/html/system-reports/system_report_{{ inventory_hostname }}_{{ ansible_date_time.date }}_{{ ansible_date_time.hour }}{{ ansible_date_time.minute }}{{ ansible_date_time.second }}.html"

  roles:
    - system_check

  tasks:
    - name: Print location of report
      debug:
        msg: "System report saved to {{ report_path }}"
